.container{
    width: 600px;
    margin: 80px auto;
    position: relative;

}

img{
    width: 100%;
    border-radius: 10px;
}

h1{
    color: white;
    position: absolute;
    top: 140px;
    left: 15%;
 
}

p{
    position: absolute;
    bottom: 120px;
    left: 5%;
    color: white;
    text-align: center;
}

.btn{
    position: absolute;
    left: 40%;
    bottom: 70px;
    align-content: center;
    border: none;
    border-radius: 60px;
    color: black;
    padding: 10px 20px;
    background: white;
} 