.container{
    margin: 100px auto;
    padding: 50px;
    width: 400px;
   text-align: center;
}

.boldpara{
    font-weight: 600;
}

input{
    width: 60%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    
   
}

img{
    width: 40%;
    margin-bottom: 10px;
}



.btn{
  color: white;
  background: black;
  border-radius: 60px;
  padding: 10px 30px;
  font-size: 16px;
  margin-top: 20px;
  font-weight: 500;

}

.txt {
    line-height: 130%;
    margin-top: 30px;
    font-size: 14px;
    color: gray;
}
.foot {
    text-align: center;
    font-size: 14px;
    color: gray;
    font-family: roboto,arial,sans-serif;
    padding-left: 30px;
    padding-right: 30px;
}
a {
    color: gray;
}